.input_scroll {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;
  box-sizing: border-box;
}

.input_scroll::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.input_scroll::-webkit-thumb {
  background-color: transparent;
}

.input_scroll::-webkit-scrollbar-thumb {
  background-color: #888;
}

.title_input {
  padding: 32px 36px 0 36px;
  font-size: 24px;
  font-family: 'ZFB09', 'PM12';
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-on-background);
}
