/* Hidden text layer (real input) */
.editor-editable {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--editor-font-family, monospace);
  line-height: var(--editor-line-height, 1.4);
  font-size: var(--editor-font-size, 12px);
  inset: 0;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 24px 8px 24px 36px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--editor-fg, #fff); /* 実際の文字を表示 */
  caret-color: var(--editor-fg, #fff);
  overflow: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.editor-editable::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}
.editor-editable::-webkit-thumb {
  background-color: transparent;
}
.editor-editable::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* テキスト選択時の色 (Firefox用 ::-moz-selection も) */
.editor-editable::selection {
  background: var(--editor-selection-bg, rgb(128 128 255 / 35%));
  color: var(--editor-selection-fg, #000);
}

.editor-editable h1 {
  font-family: ZFB09;
  font-size: 24px;
  font-weight: normal;
}

.editor-editable h2 {
  font-family: ZFB09;
  font-size: 8px;
  font-weight: normal;
}

.editor-editable h3 {
  font-family: ZFB08;
  font-size: 8px;
  font-weight: normal;
}

.editor-editable h4 {
  font-family: ZFB08;
  font-size: 8px;
  font-weight: normal;
}

.editor-editable p {
  font-family: PM12;
  font-size: 12px;
}
