:root {
  --invisible-opacity: 0.6;
}

.tiptap-invisible-character--half-space {
  font-family: inherit;

  &::before {
    content: '.';
    opacity: var(--invisible-opacity);
  }
}

.tiptap-invisible-character--full-space {
  font-family: inherit;

  &::before {
    content: '・';
    opacity: var(--invisible-opacity);
  }
}

.tiptap-invisible-character--carriage-return {
  display: inline-block;
  position: relative;
  width: 0;
  height: 1em;
  overflow: visible;
  pointer-events: none;
  user-select: none;
  vertical-align: baseline;
  opacity: var(--invisible-opacity);

  &::before {
    content: '';
    pointer-events: none;
    user-select: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 1em;
    transform: translate(2px, 3px);
    background: url('/icons/misc/br.png') left center / 6px 7px no-repeat;
    pointer-events: none;
    user-select: none;
  }
}

/* 検索ハイライト用のスタイル */
.search-highlight {
  background-color: #ff0;
  color: #000;
  padding: 0;
  border-radius: 2px;
  box-decoration-break: clone;
}

.search-highlight.current {
  background-color: #ff0;
  color: #000;
}
